* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
    background-size: cover;
    overflow: hidden;
}

.game-over-screen {
    text-align: center;
    color: white;
}

.message-box {
    background: rgba(128, 0, 128, 0.8);
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    margin: 0 auto 20px;
    color: #fff;
    font-size: 1.2rem;
}

.restart-button {
    background: #00bfff;
    border: none;
    padding: 15px 30px;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 4px #0080ff;
    transition: transform 0.2s, box-shadow 0.2s;
}

.restart-button:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px #00509e;
}