body {
    background-image: url("/media/images/chapter_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 50%;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .character_container {
    position: fixed;
    bottom: 5%;
    right: 5%;
  }
  
  .character_base {
    position: relative;
    padding: 9rem;
    background-image: url("/media/images/chapter_character_base.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .character {
    position: absolute;
    bottom: 50%;
    right: 5%;
    padding: 10rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }