.screen_background {
  background-image: url("/media/images/chapter_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 50%;
  margin: 0 auto;
  overflow: hidden;
}

.screen_title {
  width: 100%;
  text-align: left;
  animation: slideInLeft 1s forwards;
}

.screen_title .screen_num {
  font-weight: bold;
  font-size: 3rem;
}

.screen_title .screen_description {
  font-size: 2rem;
  margin-top: 1rem;
  font-weight: 400;
}

.screen_question {
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  font-size: 1rem;
  text-align: justify;
  animation: slideInRight 1s forwards;
}

.screen_answer_list {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 1rem;
  width: 100%;
  animation: slideInBottomToTop 2s forwards;
}

.screen_answer_item {
  background-image: url("/media/images/chapter_answers.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75%;
  padding: 1rem;
  border-radius: 5px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.screen_answer_item:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.screen_answer_link {
  display: block;
  color: white;
  width: 100%;
  padding: 1rem;
  text-decoration: none;
  font-size: 1.2rem;
}

.character_container {
  position: fixed;
  bottom: 5%;
  right: 5%;
}

.character_base {
  position: relative;
  padding: 9rem;
  background-image: url("/media/images/chapter_character_base.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.character {
  position: absolute;
  bottom: 50%;
  right: 5%;
  padding: 10rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}



@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInBottomToTop {
  from {
    transform: translateY(1000%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}