.screen_background {
  background-image: url("/media/images/chapter_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 50%;
  margin: 0 auto;
  overflow: hidden;
}


.screen_title {
  width: 100%;
  text-align: left;
  font-weight: bold;
  animation: slideInLeft 1s forwards;
}

.screen_title .screen_num {
  font-weight: bold;
  font-size: 3rem;
}

.screen_title .screen_description {
  font-size: 2rem;
  margin-top: 1rem;
  font-weight: bold;
}

.screen_question {
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  font-size: 1rem;
  text-align: justify;
  animation: slideInRight 1s forwards;
}

.screen_answer_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  animation: slideInBottomToTop 2s forwards;
  z-index: 4;
}

.screen_answer_item {
  background: linear-gradient(135deg, #0a0a0a, #1a1a1a); /* Gradiente dark */
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75%;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1); /* Bordas sutis */
  position: relative;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s, background 0.3s;
  cursor: pointer;
  padding: 1rem;
  font-size: 1.2rem;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5); /* Sombra leve */
}

.screen_answer_item::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 200%;
  height: 100%;
  background: linear-gradient(135deg, rgba(50, 50, 50, 0), rgba(100, 100, 100, 0.2), rgba(50, 50, 50, 0));
  z-index: 1;
  transform: skewX(-45deg);
  transition: left 0.6s ease;
}

.screen_answer_item:hover::before {
  left: 0; /* Brilho escuro atravessa o botão */
}

.screen_answer_item:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(50, 50, 50, 0.4); /* Sombra mais intensa no hover */
  background: linear-gradient(135deg, #222222, #333); /* Gradiente metálico escuro */
}

.screen_answer_link {
  display: block;
  color: white;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2; /* Texto acima dos efeitos */
}

.character_container {
  position: fixed;
  bottom: 5%;
  right: 5%;
}
.character_info{
  position: fixed;
  bottom: 5%;
  left: 5%;
  z-index: 2;
}
h3{
  color:white;
  z-index: 2;
}

.character_base {
  position: relative;
  padding: 9rem;
  background-image: url("/media/images/chapter_character_base.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.character {
  position: absolute;
  bottom: 50% ;
  right: 5%;
  padding: 10rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInBottomToTop {
  from {
    transform: translateY(1000%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}