{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Add Chapter</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tiny5&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'global.css' %}">
</head>
<body>
    <h1>Add Chapter</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add Chapter</button>
    </form>
</body>
</html>