{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{{ chapter.title }}</title>
    <link rel="stylesheet" href="{% static 'global.css' %}">
    <link rel="stylesheet" href="{% static 'chapters.css' %}">
</head>
<body class="chapter_background">
    <h1 class="chapter_title">
        <span class="chapter_num">Capítulo {{ chapter.num }}:</span>
        <span class="chapter_description">{{ chapter.title }}</span>
    </h1>
    <ul class="chapter_answer_list">
        {% for screen in screens %}
            <li class="chapter_answer_item">
                <a class="chapter_answer_link" href="{% url 'screen_view' screen.num %}">{{ screen.title }}</a>
            </li>
        {% endfor %}
    </ul>
    <div class="character_container">
        <div class="character_base"></div>
        <div style="background-image: url('{{ chapter.character.image.url }}');" class="character"></div>
    </div>
</body>
</html>