{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{{ chapter.title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Tiny5&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'global.css' %}">
</head>
<body>
    <h1>{{ chapter.title }}</h1>
    <p>{{ chapter.content }}</p>
    <img src="{{ chapter.character.image.url }}" alt="{{ chapter.character.name }}">
    <ul>
        {% for choice in chapter.choices.all %}
            <li><a href="{% url 'chapter_view' choice.next_chapter.id %}">{{ choice.text }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>