{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{{ screen.title }}</title>
    <link rel="stylesheet" href="{% static 'global.css' %}">
    <link rel="stylesheet" href="{% static 'screen.css' %}">
    <style>
        {{ screen.custom_css|safe }}
    </style>
</head>
<body>
    <h1>{{ screen.title }}</h1>
    <p>{{ screen.content }}</p>
    <ul>
        {% for choice in screen.choices.all %}
            {% if choice.next_chapter %}
                <li><a href="{% url 'chapter_view' choice.next_chapter.num %}">{{ choice.text }}</a></li>
            {% elif choice.next_screen %}
                <li><a href="{% url 'screen_view' choice.next_screen.num %}">{{ choice.text }}</a></li>
            {% else %}
                <li>{{ choice.text }}</li>
            {% endif %}
        {% endfor %}
    </ul>
    <div class="character_container">
        <div class="character_base"></div>
        <div style="background-image: url('{{ chapter.character.image.url }}');" class="character"></div>
    </div>
    <script>
        {{ screen.custom_js|safe }}
    </script>
</body>
</html>